<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          
          <li class="list-inline-item">
            <a href="mailto:jessica.lang@wisc.edu">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-regular fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
          
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/jessica-lang-33149a75">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-linkedin-in fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>


                    
          <li class="list-inline-item">
            <a href="https://bsky.app/profile/jessicalang.bsky.social">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-bluesky fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
          
          <li class="list-inline-item">
            <a href="https://github.com/jessicalanglab">
              <span class="fa-stack fa-lg">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
          
        </ul>
        <p class="copyright text-muted">Copyright &copy; Start Bootstrap 2021</p>
      </div>
    </div>
  </div>
</footer>

